<nav class="navbar navbar-light navbar-static-top bg-light flex-md-nowrap p-0 shadow justify-content-between">
    <a class="navbar-brand col-sm-6 col-md-2 mr-0 mx-auto">
        <img class="brand-logo" src="assets/ttt_logo.png" height="80px" alt="">
    </a>

    <div class="navbar col-sm-6 col-md-2 mr-0 mx-auto flex-column align-items-end" *ngIf="authService.userData as user">
        <h3 class="m-0">Hello <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h3>
        <a class="nav-link stretched-link" (click)="authService.SignOut()">
            <mat-icon aria-hidden="false" aria-label="Log out">exit_to_app</mat-icon> Log out
        </a>
    </div>
</nav>


<div class="container mt-3 bg-light">
    <div class="row bg-light">
        <h1 class="page-title w-100 mt-2">Tasks in last 7 days</h1>
        <div style="height: 300px; width: 100%;" class="mx-auto mt-5 mb-5">
            <ngx-charts-bar-vertical-stacked [scheme]=" colorScheme" [results]="multi" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [animations]="animations">
            </ngx-charts-bar-vertical-stacked>
        </div>
    </div>
    <hr class="bg-dark">
    <div class="row bg-light mx-auto">
        <div class="w-100 d-flex justify-content-between flex-wrap">
            <div *ngFor="let item of counters | keyvalue" class="card">
                <div class="card-body">
                    <h3 class="card-title">{{item.value}}</h3>
                    <p class="card-text">{{item.key}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>